{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "auto",
  "printWidth": 160,
  "overrides": [
    {
      "files": ["*.js", "*.ts", "*.tsx", "*.json"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}